@page
@model IntroModel
@{
    ViewData["Title"] = "Home page";
}


<h3>Prateek Kumar</h3>

<div>
    <form method="get">
        <fieldset>
            <legend>Multiply two numbers</legend>
            <div>
                <label for="Operand1">Operand1:</label>
                <input type="text" name="Operand1" value="@Model.Operand1" />
            </div>
            <div>
                <label for="Operand2">Operand2:</label>
                <input type="text" name="Operand2" value="@Model.Operand2" />
            </div>

            <input id="Submit1" type="submit" value="submit" />
        </fieldset>
    </form>

    <output>@Model.Result</output>
    @section FirstSection{
        <h3>This is an Intro Section for review of Interstellar movie.</h3>
        <p>
            To infinity and beyond goes “Interstellar,” an exhilarating slalom through the wormholes of Christopher Nolan’s vast imagination that is at once a science-geek fever dream and a formidable consideration of what makes us human. As visually and conceptually audacious as anything Nolan has yet done, the director’s ninth feature also proves more emotionally accessible than his coolly cerebral thrillers and Batman movies, touching on such eternal themes as the sacrifices parents make for their children (and vice versa) and the world we will leave for the next generation to inherit. An enormous undertaking that, like all the director’s best work, manages to feel handcrafted and intensely personal, “Interstellar” reaffirms Nolan as the premier big-canvas storyteller of his generation, more than earning its place alongside “The Wizard of Oz,” “2001,” “Close Encounters of the Third Kind” and “Gravity” in the canon of Hollywood’s visionary sci-fi head trips. Global box office returns should prove suitably rocket-powered.
        </p>
    }

</div>